/* CSS Document */
body, table  {
	font-size:12px;
	font-family:"Verdana", Geneva, sans-serif;
}

body {
	margin:0px;
	padding:0px;
}
h3 {
	border-bottom:#EEE solid 1px;
	padding:3px 3px 3px 10px;
	width:90%;
	font-size:200%;
	margin:20px 3px 10px 3px;
}
h4 {
	border-bottom:#EEE solid 1px;
	padding:3px 3px 3px 10px;
	width:90%;
	font-size:120%;
	margin:3px;
}
h5 {
	border-bottom:#666 solid 1px;
	padding:5px 5px 5px 10px;
	width:90%;
	font-size:120%;
}

a, a:hover, a:active {
	text-decoration:none;
}

/* CSS Alert */
.alert-warning {
	font-size:20px;
	font-weight:bold;
	text-align:left;
	padding:7px 5px 5px 20px;
	margin:10px;
	width:80%;
	height:30px;
}

.alert-warning {
	color:#8c2d2d;
	background-color:#f6c9c9;
	border-top:#e69090 solid 2px;
	border-bottom:#e69090 solid 2px;
}